<div class="row">
    <div id="whoami" class="col-md-10 container {{containerPadding}}">
        <div class="bg-primary">
             <div class="text-center">
                 <h2 class="text-white">Ben Kimim</h2>                
             </div>
             <div>
                 <div class="d-inline-block">
                     <img src="/assets/image/gorillaOztasa.png" width="450">
                 </div>
                 <div class="d-inline-block">
                     <p class="text-white">Hayatıma bir oztasus gorillaus olarak basladım hayatımı muz yiyerek idame ettirmekteyim</p>
                 </div>
             </div>
        </div>
    </div> 
    <div id="hobbies" class="col-md-10 container {{containerPadding}}">
        <div class="bg-primary">
             <div class="text-center">
                 <h2 class="text-white">Ben Kimim</h2>                
             </div>
             <div>
                 <div class="d-inline-block">
                     <img src="/assets/image/gorillaOztasa.png" width="450">
                 </div>
                 <div class="d-inline-block">
                     <p class="text-white">Hayatıma bir oztasus gorillaus olarak basladım hayatımı muz yiyerek idame ettirmekteyim</p>
                 </div>
             </div>
        </div>
    </div>     
    <div id="whoami" class="col-md-10 container {{containerPadding}}">
        <div class="bg-primary">
             <div class="text-center">
                 <h2 class="text-white">Ben Kimim</h2>                
             </div>
             <div>
                 <div class="d-inline-block">
                     <img src="/assets/image/gorillaOztasa.png" width="450">
                 </div>
                 <div class="d-inline-block">
                     <p class="text-white">Hayatıma bir oztasus gorillaus olarak basladım hayatımı muz yiyerek idame ettirmekteyim</p>
                 </div>
             </div>
        </div>
    </div> 
   
</div>
