
  <p>
    <mat-toolbar color="primary">
      <span class="p-4">
          <img class="thumb" alt="alternative" width="64" src="/assets/image/OztasProfile.jpg"/>
     </span>    
      <span>Muhammed Öztaş</span>
      
      <span class="example-spacer"></span>
      <span class="p-3"><a class="text-light" href="https://www.instagram.com" target="blank" ><i class="bi bi-instagram {{iconSize}} social-media-icon"></i></a></span>
      <span class="p-3"><a class="text-light" href="https://www.instagram.com" target="blank" ><i class="bi bi-twitter {{iconSize}} social-media-icon"></i></a></span>
      <span class="p-3"><a class="text-light" href="https://www.instagram.com" target="blank" ><i class="bi bi-telegram {{iconSize}} social-media-icon"></i></a></span>
    </mat-toolbar>
  </p>
  

  
